<div >
<h4>Search By Title</h4>
  <div style="padding: 25px;">
  <input class="form-control col-6" [(ngModel)]="titleSearch" placeholder="Search By Title">
</div>

  <!-- table to display data -->
  <h4>Data</h4>
  <table class="table table-responsive table-stripped table-bordered table-hover">
    <thead style="background-color: #1d62a7; color: white;">
      <th>Title</th>
      <th>Url</th>
      <th>Created At</th>
      <th>Author</th>
    </thead>
    <tbody>
      <tr *ngFor="let display of dataToDisplay | titlesearch:titleSearch" data-target="#toDisplay" data-toggle="modal" (click)="dataModal(display)">
        <td>{{display.title}}</td>
        <td>{{display.url}}</td>
        <td>{{display.created_at}}</td>
        <td>{{display.author}}</td>
      </tr>

    </tbody>
  </table>
</div>


<!-- modal to show -->
<div class="modal" id="toDisplay">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
      
    
        <div class="modal-header">
          <h4 class="modal-title">Data Modal</h4>
        
        </div>
 
        <div class="modal-body">
          <pre>{{modalData|json}}</pre>
        </div>
        
        
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
        </div>
        
      </div>
    </div>
  </div>
  